.body {
    background-color: #b4dadacb;
}
.titulo {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    color: #1c3B59 ;
}

.card{
    background-color: #d6ebeb !important;
    height: 500px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px;
    

}
.remedionome {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    color: #1c3B59 ;
}
.remedioresumo {
    font-family: Tahoma, sans-serif;
    text-align: justify;
    font-size: medium;
    color: #1c3B59 ;
}
.button {
    background-color: #89c0c2; 
    border: none; 
    color: #1c3B59;
    border-radius: 8px;
    font-size: medium;
    font-family: Tahoma,sans-serif;
    padding: 10px 15px;
    border: none;
    width: 328px;
    bottom: 5%;
    position: absolute;
    
    
}

