.container-fluid {
    background: gray;
}

.col-sm-4 {
    background: darkseagreen;
    border: 1px gray;
    padding: 50px 50px;
}

.card {
    background: rgb(165, 94, 94);
    width: 500px;
    height: 500px;
    border: 1px rgb(13, 128, 143);
    padding: 50px 50px;
}
