
#logo {
        
    background-color: none;
    width: 70px;
    margin: none;
    border: none;
}

.navbar {
    background-color: #54b3b3;
    color: #1c3B59;
}

.myself {
    margin-top: 10%;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: xx-large;
    color: #1c3B59;
    font-family: "Palatino", "URW Palladio L", serif

}
.svg1 {
    background-color: none;
    color: #1c3B59;
    position: relative;
    margin-top: 30%;  
    padding-left: 10px; 
    padding-right: 10px;    
}
.svg2 {
    background-color: none;
    color: #1c3B59;
    position: relative;
    margin-top: 40%;  
    padding-left: 10px; 
    padding-right: 10px;  
}
.svg3 {
    background-color: none;
    color: #1c3B59;
    position: relative;
    margin-top: 45%;  
    padding-left: 10px; 
    padding-right: 10px;  
}

svg:hover{
    color: #d6ebeb;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}
    