
#logo {
        
    background-color: white;
    width: 70px;
}

.navbar {
    background-color: #54b3b3;
    color: #1c3B59;
}
.myself {
    margin-top: 5%;
    padding-left: 5px;
    padding-right: 5px;
}
.svg{
    background-color: none;
    color: #1c3B59;
    position: relative;
    margin-top: 50%;  
    padding-left: 10px; 
    padding-right: 10px;    
}
.svg1 {
    background-color: none;
    color: #1c3B59;
    position: relative;
    margin-top: 37%;  
    padding-left: 10px; 
    padding-right: 10px;  
}
svg:hover{
    color: #b4dadacb;
}
    