.inser {
    position: fixed;
    width: 30%;
    right: 4%;
    top: 20%;
    background-color: #d6ebeb;
    font-family: Tahoma, sans-serif;
    font-size: medium;
}


.card-header {
    text-align: center;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    font-size: medium;
    background-color: #54b3b3 !important;
    color: #1c3B59;
}


input {
    padding: 5px;
    border: 1px solid #89c0c2;
    width: 100%;
    border-radius: 6px;
    background-color: #b4dadacb;
    font-family: Tahoma, sans-serif;
    font-size: medium;
    border-radius: 6px;
    background-color: #b4dadacb;
}

.conteudo {
    padding: 5px;
    border: 1px solid #89c0c2;
    height: 80%;
    width: 100%;
    border-radius: 6px;
    background-color: #b4dadacb;
    font-family: Tahoma, sans-serif;
    font-size: medium;
    border-radius: 6px;
    background-color: #b4dadacb;
    max-height: 120%;
}

.button {
    background-color: #89c0c2; 
    border: none; 
    color: #1c3B59;
    border-radius: 8px;
    font-size: medium;
    font-family: Tahoma,sans-serif;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;

}
.button:hover {
    background-color: #1c3B59;
    color: #89c0c2;
}
