
.body {
    background-color: #b4dadacb
}
.titulo {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

.logar {
    background-color: #54b3b3;
    height: 350px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}
.form-floating {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 2px;

}

.button {
    background-color: #89c0c2;
    border-radius: 8px;
    color: #58271b;
    font-size: medium;
    font-family: Tahoma,sans-serif;
    padding: 10px 15px;
    margin-left: 21px;
    border: none; 

}