.post {
    position: absolute;
    width: 650px;
    left: -3%;
    background-color: #d6ebeb !important;
}
p {
    text-align: justify;
    font-family: Tahoma, sans-serif;
    font-size: medium;
}
.card-header {
    text-align: center;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
    font-size: medium;
    background-color: #54b3b3 !important;

}
img {
    width: auto;
    max-height: 400px;
}
svg {
background-color: none;
color: #eb345e;
}
svg:hover {
color: #1c3B59;

}
button {
    background-color: #89c0c2; 
    border: none; 
    color: #1c3B59; 
    padding: 12px 16px;
    font-size: 16px; 
    cursor: pointer;
    border-radius: 6px;
}