

.body {
    background-color: #b4dada;
}

.perf {
padding-top: 2%;
    border-radius: 10px;
    padding-left: 20%;
    padding-right: 20%;    

}

.foto {
    background-color: #54b3b3;
    width: 300px;
    height: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  padding: 10px;



}

.imp {
    height: 280px;
    width: 300px;
    border-radius: 8px;
}
.info {
    background-color: #54b3b3;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 400px;
}

.titulo {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    color: #1c3B59 ;
}








.nomeu   {
    font-family: Verdana, sans-serif;
    color:#1c3B59;
}
.nicku   {
    font-family: Tahoma, sans-serif;
    color: #1c3B59;
}
.emailu      {
    font-family: Tahoma, sans-serif;
    color: #1c3B59;
}

.button {
    background-color: #89c0c2; 
    border: none; 
    color: #1c3B59;
    border-radius: 8px;
    font-size: large;
    font-family: Tahoma,sans-serif;
    padding: 10px 15px;
    border: none;
    margin-top: 18%;
    width: 250px;

}
.button:hover {
    background-color: #1c3B59;
    color: #89c0c2;
}
.salvos {
    position: absolute;
    width: 65%;
    left: 18%;
    background-color: #d6ebeb !important;
    margin-bottom: 20px;
    margin-top: 20px;
}





























.modal-header {
    background-color: #54b3b3 ;
   
}
.perfe {
    font-family: Verdana, sans-serif;
    font-weight: bold
}

.modal-body {
    background-color: #b4dadacb;
    font-family: Tahoma, sans-serif;
    color: #1c3B59;
    font-size: medium;
}

.form-floating {
    font-weight: bold;
    padding: 5px;
    margin: 2px;
}

.modal-footer {
    background-color: #54b3b3 ;
}



.buttona {
    background-color: #47f17a;
    border-radius: 8px;
    color: #1b582e;
    font-size: medium;
    font-family: Tahoma,sans-serif;
    padding: 10px 15px;
    border: none; 
}
.buttona:hover {
    background-color: #1b582e;
    color: #47f17a;
}

 .buttonb {

    background-color: #f14747;
    border-radius: 8px;
    color: #58271b;
    font-size: medium;
    font-family: Tahoma,sans-serif;
    padding: 10px 15px;
    border: none; 
 }

 .buttonb:hover {
    background-color: #58271b;
    color: #f14747;
}