h1 {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: blue;
    color: cornsilk;
    position: absolute;
    /*manda para baixo*/
    top: 50%;
    left: 50%;
    /*manda pro meio*/
    transform: translate(-50%, -50%);
    /*espaço entre os elementos*/
    padding: 80px;
    /*arredonda a bora */
    border-radius: 15px;
}

input {
    /*colocar um espaçamento entreio os intens (ao redor)*/
    padding: 15px;
    /* tirando a borda*/
    border: none;
    /*tirando a linha que aparecer por fora */
    outline: none;
    /* aumentando a font*/
    font-size: 16px;
}

button {
    background-color: black;
    border: none;
    padding: 15px;
    color: white;
    /*largura */
    width: 100%;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: black;
    /* mudar o curssor*/
    cursor: pointer;
}